In [2]:
import pandas as pd
import numpy as np
import scipy as st
import matplotlib as plt
import seaborn as sns

In [3]:
data = pd.read_excel(r"D:\Proyek Rafif\Proyek Magang\JEC\Task 1 Data.xlsx")
data

,YEAR,TV CHANNEL,INDUSTRY SECTOR,ADVERTISER,REVENUE
0,2018,TV A,FOOD,ABC GROUP,15462000000
1,2018,TV A,FOOD,AJINOMOTO INDONESIA PT,10509000000
2,2018,TV A,FOOD,GARUDA FOOD GROUP,39543000000
3,2018,TV A,FOOD,INDOFOOD GROUP,128604000000
4,2018,TV A,FOOD,JAPFA,3315000000
...,...,...,...,...,...
3685,2021,TV L,ONLINE SERVICES,"RUANG RAYA INDONESIA, PT",6855000000
3686,2021,TV L,ONLINE SERVICES,"SHOPEE INTERNATIONAL INDONESIA, PT",6972000000
3687,2021,TV L,ONLINE SERVICES,"TOKOPEDIA, PT.",7386000000
3688,2021,TV M,BEVERAGES,JAVA PRIMA ABADI,51000000
3689,2021,TV M,AUTOMOTIVE & ACCESSORIES,PERTAMINA,33000000

# 1. Perbandingan pendapatan berdasarkan industri per tahun

In [35]:
topind=pd.DataFrame(data.groupby(['YEAR','INDUSTRY SECTOR'])['REVENUE'].sum())

In [36]:
topind

                                                         REVENUE
YEAR       INDUSTRY SECTOR
2018-01-01 AUTOMOTIVE & ACCESSORIES                 835884000000
           BABY & MATERNITY PRODUCT                 226272000000
           BEVERAGES                               2098311000000
           FOOD                                    2242224000000
           HOUSEHOLD PRODUCTS/SUPPLIES              679851000000
           INDUSTRIAL PRODUCTS                      605811000000
           MEDICINES/PHARMACEUTICALS               1267572000000
           OFFICE EQP'T, COMPUTER, COMMUNICATIONS   878457000000
           ONLINE SERVICES                         1194891000000
           SMOKING & ACCESSORIES                   1030029000000
           TOILETRIES & COSMETICS                  2606763000000
2019-01-01 AUTOMOTIVE & ACCESSORIES                 512082000000
           BABY & MATERNITY PRODUCT                 307467000000
           BEVERAGES                               2035413000000
           FOOD                                    2297277000000
           HOUSEHOLD PRODUCTS/SUPPLIES              813978000000
           INDUSTRIAL PRODUCTS                      426075000000
           MEDICINES/PHARMACEUTICALS               1572186000000
           OFFICE EQP'T, COMPUTER, COMMUNICATIONS   819468000000
           ONLINE SERVICES                         1517655000000
           SMOKING & ACCESSORIES                   1386816000000
           TOILETRIES & COSMETICS                  3188058000000
2020-01-01 AUTOMOTIVE & ACCESSORIES                 182565000000
           BABY & MATERNITY PRODUCT                 263175000000
           BEVERAGES                               2174091000000
           FOOD                                    2352414000000
           HOUSEHOLD PRODUCTS/SUPPLIES              763203000000
           INDUSTRIAL PRODUCTS                      240117000000
           MEDICINES/PHARMACEUTICALS               1296519000000
           OFFICE EQP'T, COMPUTER, COMMUNICATIONS   748191000000
           ONLINE SERVICES                         1214481000000
           SMOKING & ACCESSORIES                    925023000000
           TOILETRIES & COSMETICS                  3069444000000
2021-01-01 AUTOMOTIVE & ACCESSORIES                 215178000000
           BABY & MATERNITY PRODUCT                 299121000000
           BEVERAGES                               2644104000000
           FOOD                                    2939397000000
           HOUSEHOLD PRODUCTS/SUPPLIES              970692000000
           INDUSTRIAL PRODUCTS                      257421000000
           MEDICINES/PHARMACEUTICALS               1593408000000
           OFFICE EQP'T, COMPUTER, COMMUNICATIONS   561936000000
           ONLINE SERVICES                         2151603000000
           SMOKING & ACCESSORIES                   1011237000000
           TOILETRIES & COSMETICS                  2792145000000

In [40]:
sorted_topind = topind.sort_values(by=['YEAR', 'REVENUE'], ascending=[True, False])
sorted_topind

                                                         REVENUE
YEAR       INDUSTRY SECTOR
2018-01-01 TOILETRIES & COSMETICS                  2606763000000
           FOOD                                    2242224000000
           BEVERAGES                               2098311000000
           MEDICINES/PHARMACEUTICALS               1267572000000
           ONLINE SERVICES                         1194891000000
           SMOKING & ACCESSORIES                   1030029000000
           OFFICE EQP'T, COMPUTER, COMMUNICATIONS   878457000000
           AUTOMOTIVE & ACCESSORIES                 835884000000
           HOUSEHOLD PRODUCTS/SUPPLIES              679851000000
           INDUSTRIAL PRODUCTS                      605811000000
           BABY & MATERNITY PRODUCT                 226272000000
2019-01-01 TOILETRIES & COSMETICS                  3188058000000
           FOOD                                    2297277000000
           BEVERAGES                               2035413000000
           MEDICINES/PHARMACEUTICALS               1572186000000
           ONLINE SERVICES                         1517655000000
           SMOKING & ACCESSORIES                   1386816000000
           OFFICE EQP'T, COMPUTER, COMMUNICATIONS   819468000000
           HOUSEHOLD PRODUCTS/SUPPLIES              813978000000
           AUTOMOTIVE & ACCESSORIES                 512082000000
           INDUSTRIAL PRODUCTS                      426075000000
           BABY & MATERNITY PRODUCT                 307467000000
2020-01-01 TOILETRIES & COSMETICS                  3069444000000
           FOOD                                    2352414000000
           BEVERAGES                               2174091000000
           MEDICINES/PHARMACEUTICALS               1296519000000
           ONLINE SERVICES                         1214481000000
           SMOKING & ACCESSORIES                    925023000000
           HOUSEHOLD PRODUCTS/SUPPLIES              763203000000
           OFFICE EQP'T, COMPUTER, COMMUNICATIONS   748191000000
           BABY & MATERNITY PRODUCT                 263175000000
           INDUSTRIAL PRODUCTS                      240117000000
           AUTOMOTIVE & ACCESSORIES                 182565000000
2021-01-01 FOOD                                    2939397000000
           TOILETRIES & COSMETICS                  2792145000000
           BEVERAGES                               2644104000000
           ONLINE SERVICES                         2151603000000
           MEDICINES/PHARMACEUTICALS               1593408000000
           SMOKING & ACCESSORIES                   1011237000000
           HOUSEHOLD PRODUCTS/SUPPLIES              970692000000
           OFFICE EQP'T, COMPUTER, COMMUNICATIONS   561936000000
           BABY & MATERNITY PRODUCT                 299121000000
           INDUSTRIAL PRODUCTS                      257421000000
           AUTOMOTIVE & ACCESSORIES                 215178000000

Dari tahun ke tahun sektor industri TOILETRIES & COSMETICS selalu menjadi industri dengan pendapatan terbesar kecuali pada tahun 2021, dimana yang menempati posisi teratas adalah industri FOOD

# 2. Jumlah pendapatan berdasarkan channel

In [32]:
data.groupby(['TV CHANNEL'])['REVENUE'].sum()

TV CHANNEL
TV A    12305031000000
TV B    10680465000000
TV C     8801532000000
TV D     6312591000000
TV E     5075250000000
TV F     3639258000000
TV G     3308196000000
TV H     3179802000000
TV I     1598754000000
TV J      678426000000
TV K      831891000000
TV L      786513000000
TV M       10296000000
Name: REVENUE, dtype: int64

Berdasarkan hasil, total pendapatan tertinggi jatuh pada TV A, sedangkan pendapatan tersendah jatuh pada TV M

# 3. Jumlah advertiser pertahun

In [9]:
advertiser_count = data.groupby(['YEAR'])['ADVERTISER'].count()
advertiser_count

YEAR
2018    916
2019    968
2020    920
2021    886
Name: ADVERTISER, dtype: int64

In [10]:
total_advertisers = advertiser_count.sum()

In [12]:
advertiser_percentage = (advertiser_count / total_advertisers) * 100
advertiser_percentage

YEAR
2018    24.823848
2019    26.233062
2020    24.932249
2021    24.010840
Name: ADVERTISER, dtype: float64

Secara keseluruhan persentase jumlah advertiser pertahun hampir merata, namun advertiser pada tahun 2019 persentasenya lebih tinggi dibanding tahun lainnya.

# 4. Analisis advertiser berdasarkan channel

In [13]:
data.groupby(['TV CHANNEL'])['ADVERTISER'].count()

TV CHANNEL
TV A    359
TV B    369
TV C    351
TV D    344
TV E    334
TV F    354
TV G    341
TV H    332
TV I    237
TV J    204
TV K    228
TV L    213
TV M     24
Name: ADVERTISER, dtype: int64

Berdasarkan output, jumlah advertiser terbesar adalah pada kelompok TV B

# 5. Forecasting REVENUE

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA
import warnings
warnings.filterwarnings('ignore')

In [23]:
# Mengkonversi kolom YEAR menjadi tipe datetime
data['YEAR'] = pd.to_datetime(data['YEAR'], format='%Y')

In [24]:
# Mengagregasi data berdasarkan tahun
annual_revenue = data.groupby(data['YEAR'].dt.year)['REVENUE'].sum()

In [25]:
# Membuat model ARIMA
model = ARIMA(annual_revenue, order=(1, 1, 1))
model_fit = model.fit()

In [26]:
# Melakukan prediksi 5 tahun ke depan
forecast = model_fit.forecast(steps=5)

In [27]:
# Menampilkan hasil prediksi
print(forecast)

4    1.493484e+13
5    1.530200e+13
6    1.503314e+13
7    1.523002e+13
8    1.508585e+13
Name: predicted_mean, dtype: float64

Beginilah prediksi rata rata pendapatan pada 5 tahun yang akan datang